.gameContainer{
    width: 446px;
    height: 446px;
    border:1px solid gray;
    margin:0 auto;
    background-color: gray;
}
.gameContainer_box{
    margin:2%;
    width: 96%;
    height: 96%;
}
.rowBox{

    width: 100%;
    height: 25%;
    display: flex;
    justify-content: flex-start;
}
.rowBox div{
    margin:auto;
    width: 21%;
    height: 86%;
    border:1px solid yellow;
    border-radius: 20px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

@media screen and (max-width:415px){
    .gameContainer{
        width: 100%;
        height: 375px;
    }
    .gameContainer_box{
        margin:1%;
        width: 98%;
        height: 98%;
    }
    .rowBox div{
        line-height: 200%;
    }
}

@keyframes myfirst{
    from {transform: scale(.6)};
    to {transform: scale(1)};
}
.animation2{
    width: 100px;
    height: 100px;
    background-color: white;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation4{
    background-color: rgb(255,182,193);
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation8{
    background-color: #c93756;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation16{
    background-color: #ff4c00;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation32{
    background-color: #db7093;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation64{
    background-color: #ff7500;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation128{
    background-color: #8F8fbd;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation256{
    background-color: #8d4bbb ;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation512{
    background-color: #2edfa3;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}

.animation1024{
    background-color: #ae7000;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}
.animation2048{
    background-color: #ff2d51;
    width: 100px;
    height: 100px;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    -webkit-animation: myfirst .5s;
    -o-animation: myfirst .5s;
}

