.switchKeys{
    width: 200px;
    margin:10px auto;
}
.caret-left{
    float: left;
    margin-top: 10px;
    width: 60px;
    height: 40px;
}
.caret-right{
    float: right;
    margin-top: 10px;
    width: 60px;
    height: 40px;
}
.caret-up{
    margin-left: 70px;
    width: 60px;
    height: 40px;
}
.caret-down{
    margin-left: 10px;
    margin-top: 40px;
    width: 60px;
    height: 40px;
}

.switchKeys img{
    width: 35px;
    height: 35px;
}
@media screen and (min-width: 415px) {
    .switchKeys{
        display: none;
    }
}